.inline-headers {
    display: inline-block;
    margin: 0 0 0 15px;
}

.back:hover {
    cursor: pointer;
    color: green;
}

.remove {
    float: right;
    color: #438EF7;
}

.remove:hover {
    cursor: pointer;
    color: green;
    float: right;
}

.flex-center {
    display: flex;
    align-items: center;
}
.bt-margin {
    margin: 10px 0 0 0
}

.wallet-label {
    font-size: 13px;
    overflow: hidden;
}