.backdropStyle {
  position: fixed;
  transform: translate(0, -100%);
  background-color: rgba(0,0,0,0.3);
  height: inherit;
  max-width: 320px;
  padding: 30px 10px;
}


.modalStyle {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
}

.backdropStyle::after {
    display: block;
    content: "";
    clear: both;
}