.lds-ring {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    align-items: center;
    margin-bottom: 30px
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #538BD2 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  