
.complete-ring  {
    display: flex;
    align-items: center;
    width: 140px;
    height: 140px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    border-color: #68d690;
    margin:auto;
    margin-bottom: 30px

}  
.complete-ring:after {
    text-align: center;
    content: '✔';
    color: #68d690;
    transform: scale(5.0);
    margin:auto
}