.wrapper {
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: royalblue;
}

.buffer-top {
    margin-top: 10px;
}

.wrapper-320 {
    max-width: 354px;
    margin: auto;
}

.row {
    margin: auto !important;
}